.button {
  // font-family: Roboto;
  // display: inline-block;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #0095D6;
  line-height: 32px; // text-align: center;
  // white-space: nowrap;
  // vertical-align: middle;
  user-select: none; // border: 1px solid transparent;
  padding: 0 20px;
  font-size: 16px;
  height: 32px;
  border-radius: 4px;
  &:hover,
  &:focus {
    // font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
  }
}

.banner {
  position: relative;
  min-width: 960px; // max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  z-index: 0; // transition: all 0.3s ease-out; 
  // text-align: center;
  // display: flex;
  // align-items: center;
  @media (min-width: 992px) {
    height: 65vh;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__section {
    position: absolute;
    display: flex;
    align-items: center;
    top: 40%;
    height: 108px;
    width: 100%;
  }
  &__nav {
    color: #FFFFFF;
    font-weight: 400 !important;
    font-size: 48px !important; // color: #FFFFFF;
    // background-color: #0095D6;
    // line-height: 32px;
    // text-align: center;
    // white-space: nowrap;
    // vertical-align: middle;
    // border: 1px solid black;
    user-select: none !important; // border: 1px solid transparent;
    padding: 0 20px !important; // font-size: 16px;
    line-height: 80px !important; // line-height: 400px;
    cursor: pointer !important;
    height: 80px !important; // border-radius: 50%;
    border-radius: 4px !important;
    background-color: rgba(0, 0, 0, 0.20) !important; // margin-left: 
    &:hover {
      background-color: rgba(0, 0, 0, 0.40) !important;
      transition: background-color 0.2s ease-out !important;
    }
  }
  &__text {
    text-align: center;
    margin-left: auto;
    margin-right: auto; // @media (max-width: 992px) {
    // width: 624px;
    // }

    &:hover {
      text-decoration: none;
    }
  }
  &__head {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 56px;
    color: #F6DE34;
  }
  &__caption {
    font-size: 24px;
    color: #0095D6;
    font-weight: 600;
  }
  &__indicators {
    position: absolute;
    bottom: 5%;
    width: 204px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }
}

.circle {
  display: inline-table;
  height: 12px;
  width: 12px;
  background-color: #FFFFFF;
  border-radius: 50%;
  &--active {
    background-color: #0095D6;
  }
}

.option {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 140px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  padding-top: 20px;


  &:hover {
    & .option__icon {
      color: #F6DE34;
    }
    & .option__dropdown {
      visibility: visible;
      opacity: 1;
    }
  }
  &_no-dropdown {
    &:hover {
      & .option__name {
        border-bottom: 1px solid transparent;
      }
    }
  }
  &__icon {
    display: block !important;
    color: #0095D6;
    font-size: 48px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    z-index: 1;
  }
  &__name {
    color: #5C5C5C;
    font-size: 18px;
    font-weight: 500px; // margin-bottom: 4px;
    z-index: 1;
    width: 84%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 12px;
    text-align: center;
    border-bottom: 1px solid transparent;
  }
  &__caption {
    color: #5C5C5C;
    font-size: 12px;
    width: 84%;
    padding-bottom: 8px;
    margin-left: auto;
    margin-right: auto; // line-height: 1;
    z-index: 1;
  }

  &__dropdown {
    position: absolute;
    /* 2: */
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.23), 0 3px 6px 0 rgba(0,0,0,0.16);
    // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.20), 0 1px 3px 0 rgba(0, 0, 0, 0.10);
    border-radius: 4px;
    background-color: #fff;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column; // z-index: 999;
    min-height: 100%;
    padding-top: 136px;
    padding-bottom: 16px;
    visibility: hidden;
    opacity: 0;
    transition: opacity ease 0.3s; // padding: 
    // display: 
  }
  &__link {
    color: #666666;
    font-size: 13px;
    margin: 4px 8px;
    font-weight: 400;

    &:first-child {
      padding-top: 20px;
      border-top: 1px solid #ddd;
    }

    &:hover {
      text-decoration: none;
      color: #0095D6;
    }
  }
}

.stocks {
  height: 300px;
  background-image: url('https://images.unsplash.com/photo-1500310135558-c4c498fdc927?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');
  background-position: center;
}


.breadcrumbs {

}