.navbar {
  position: fixed;
  // max-width: inherit;
  // width: 100%;

  &__link {
    font-size: 14px;
    color: #8D8D8D;
    display: block;
    // height: 32px; 
    padding: 0 16px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    line-height: 32px;
    margin-bottom: 4px;
    border-radius: 4px;
    font-weight: 400;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E6E6E6;
    &>.material-icons {
      font-size: 20px;
    }

    &:hover {
      background-color: #F6DE34;
      text-decoration: none;
      color: #3F3F3F;
      border-bottom: 1px solid transparent;

      &:after {
        // content: "";
        // display: block;
      }
    }

    &:after {
      // content: "";
      // display: block;
    }

    &_active {
      background-color: #F6DE34;
      text-decoration: none;
      color: #3F3F3F;
      
      &:after {
        content: "";
        display: block;
        border-bottom: 1px solid transparent;
      }
    }

    &:focus {
      text-decoration: none;
      color: #3F3F3F;
    }
  }
}

.navbar-wrapper {

  &:after {
    content: "";
    position: fixed;
    height: calc(100vh - 61px);
    border-right: 1px solid #E2E2E2;
    z-index: -1;

    @media(min-width: 992px){
      width: 225px;
    }

    @media(min-width: 1200px) {
      width: 270px;
    } 
  }
}

.border {

  &:before {
    content: "";
    min-height: calc(100vh - 276px);
    // minHeight: 'calc(100vh - 312px)'
    border-left: 1px solid #E2E2E2;
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    margin-left: -15px;
  }
}