.callback {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  /* margin: auto; */
}

.callback label {
  display: block;
  color: #5c5c5c;
}

.callback input {
  height: 40px;
  padding: 13px;
  border-radius: 4px;
  border: 1px solid #c2c2c2;
  /* box-shadow: none; */
  /* display: block; */
  box-sizing: border-box;
}

.callback input:focus {
  border: 2px solid #f6de34;
  outline: none;
  padding: 12px;
}

.callback textarea {
  /* height: 40px; */
  padding: 13px;
  border-radius: 4px;
  border: 1px solid #c2c2c2;
  /* box-shadow: none; */
  /* display: block; */
}

.callback textarea:focus {
  border: 2px solid #f6de34;
  outline: none;
  padding: 12px;
}

.callback button {
  border: none;
  width: 160px;
  /* margin: auto; */
}
