.option {
  height: 120px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  padding-top: 8px;
  text-align: center;
}

.option__badge {
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.option__badge > svg {
  fill: #0095d6;
  height: 56px;
  width: 56px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
  z-index: 1;
}

.option:hover > .option__badge > svg {
  fill: #f6de34;
}

.option__badge > p {
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500px;
  z-index: 1;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.option:hover .option__dropdown {
  visibility: visible;
  opacity: 1;
}

.option__dropdown {
  position: absolute;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23), 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  background-color: #fff;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: 100px;
  padding-bottom: 16px;
  visibility: hidden;
  opacity: 0;
  transition: opacity ease 0.3s;
}

.option__link {
  color: #666666;
  font-size: 13px;
  margin: 4px 8px;
  font-weight: 400;
}

.option__link:hover {
  color: #0095d6;
}

.option__link:first-child {
  padding-top: 16px;
  border-top: 1px solid #ddd;
}

.option:hover a,
.option:focus a {
  text-decoration: none;
}
